<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Carrousel</title>
    <link rel="shortcut icon" href="" type="image/x-icon" />
    <link rel="stylesheet" href="carrousel.css" />
  </head>
  <body>
    <div id="app">
      <section class="carousel">
        <div class="carousel__container">
          <!-- https://www.pexels.com/search/people -->
          <div class="carousel-item">
            <img
              class="carousel-item__img"
              src="images/people-1.jpeg"
              alt="people"
            />
            <div class="carousel-item__details">
              <div>
                <img
                  src="icons8-botón-de-reproducción-circundado-64.png"
                  alt="play"
                />
                <img src="icons8-pausa-en-círculo-64.png" alt="pause" />
              </div>
              <p class="carousel-item__details--title">Titulo descriptivo</p>
              <p class="carousel-item__details--subtitle">
                2020 19+ 113 minutos
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="carousel-item__img"
              src="images/people-2.jpeg"
              alt="people"
            />
            <div class="carousel-item__details">
              <div>
                <img
                  src="icons8-botón-de-reproducción-circundado-64.png"
                  alt="play"
                />
                <img src="icons8-pausa-en-círculo-64.png" alt="pause" />
              </div>
              <p class="carousel-item__details--title">Titulo descriptivo</p>
              <p class="carousel-item__details--subtitle">
                2020 19+ 113 minutos
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="carousel-item__img"
              src="images/people-3.jpeg"
              alt="people"
            />
            <div class="carousel-item__details">
              <div>
                <img
                  src="icons8-botón-de-reproducción-circundado-64.png"
                  alt="play"
                />
                <img src="icons8-pausa-en-círculo-64.png" alt="pause" />
              </div>
              <p class="carousel-item__details--title">Titulo descriptivo</p>
              <p class="carousel-item__details--subtitle">
                2020 19+ 113 minutos
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="carousel-item__img"
              src="images/people-4.jpeg"
              alt="people"
            />
            <div class="carousel-item__details">
              <div>
                <img
                  src="icons8-botón-de-reproducción-circundado-64.png"
                  alt="play"
                />
                <img src="icons8-pausa-en-círculo-64.png" alt="pause" />
              </div>
              <p class="carousel-item__details--title">Titulo descriptivo</p>
              <p class="carousel-item__details--subtitle">
                2020 19+ 113 minutos
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="carousel-item__img"
              src="images/people-5.webp"
              alt="people"
            />
            <div class="carousel-item__details">
              <div>
                <img
                  src="icons8-botón-de-reproducción-circundado-64.png"
                  alt="play"
                />
                <img src="icons8-pausa-en-círculo-64.png" alt="pause" />
              </div>
              <p class="carousel-item__details--title">Titulo descriptivo</p>
              <p class="carousel-item__details--subtitle">
                2020 19+ 113 minutos
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="carousel-item__img"
              src="images/people-6.jpeg"
              alt="people"
            />
            <div class="carousel-item__details">
              <div>
                <img
                  src="icons8-botón-de-reproducción-circundado-64.png"
                  alt="play"
                />
                <img src="icons8-pausa-en-círculo-64.png" alt="pause" />
              </div>
              <p class="carousel-item__details--title">Titulo descriptivo</p>
              <p class="carousel-item__details--subtitle">
                2020 19+ 113 minutos
              </p>
            </div>
          </div>
          <div class="carousel-item">
            <img
              class="carousel-item__img"
              src="images/people-7.jpeg"
              alt="people"
            />
            <div class="carousel-item__details">
              <div>
                <img
                  src="icons8-botón-de-reproducción-circundado-64.png"
                  alt="play"
                />
                <img src="icons8-pausa-en-círculo-64.png" alt="pause" />
              </div>
              <p class="carousel-item__details--title">Titulo descriptivo</p>
              <p class="carousel-item__details--subtitle">
                2020 19+ 113 minutos
              </p>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
  <script src="vue.js"></script>
  <script>
    new Vue({
      el: '#app',
    });
  </script>
</html>
