<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
  body
    h1 upload imagen
    form(
      action="/v1/img"
      method="POST"
      enctype="multipart/form-data"
    )
      input(type="file" name="image")
      input(type="submit" value="Upload")
    script
      include crud_img.js